<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Talk-To-Me</title>
</head>
<body>
    <header>
        <h1><a href="">TALK-TO-ME</a></h1>
    </header>

    <article>
        <time>Published: xx.xx.xxxx , xx:xx</time>
        <h2><a href="">First Post</a></h2>
        <p>This is the first post!</p>
    </article>

    <article>
        <time>Published: xx.xx.xxxx , xx:xx</time>
        <h2><a href="">Second Post</a></h2>
        <p>This is the second post!</p>
    </article>
    
</body>
</html>